In [1]:
import numpy as np
import pandas as pd

In [2]:
house = pd.read_csv("Pune house data.csv")
house.head()

,area_type,availability,size,society,total_sqft,bath,balcony,price,site_location
0,Super built-up Area,19-Dec,2 BHK,Coomee,1056,2.0,1.0,39.07,Alandi Road
1,Plot Area,Ready To Move,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,Ambegaon Budruk
2,Built-up Area,Ready To Move,3 BHK,NaN,1440,2.0,3.0,62.00,Anandnagar
3,Super built-up Area,Ready To Move,3 BHK,Soiewre,1521,3.0,1.0,95.00,Aundh
4,Super built-up Area,Ready To Move,2 BHK,NaN,1200,2.0,1.0,51.00,Aundh Road

In [3]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   area_type      13320 non-null  object
 1   availability   13320 non-null  object
 2   size           13304 non-null  object
 3   society        7818 non-null   object
 4   total_sqft     13320 non-null  object
 5   bath           13247 non-null  float64
 6   balcony        12711 non-null  float64
 7   price          13320 non-null  float64
 8   site_location  13319 non-null  object
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [4]:
house.drop(columns=["area_type", "availability", "society"], inplace=True)

In [5]:
house.head()

        size total_sqft  bath  balcony   price    site_location
0      2 BHK       1056   2.0      1.0   39.07      Alandi Road
1  4 Bedroom       2600   5.0      3.0  120.00  Ambegaon Budruk
2      3 BHK       1440   2.0      3.0   62.00       Anandnagar
3      3 BHK       1521   3.0      1.0   95.00            Aundh
4      2 BHK       1200   2.0      1.0   51.00       Aundh Road

In [6]:
house.shape

(13320, 6)

In [7]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   size           13304 non-null  object
 1   total_sqft     13320 non-null  object
 2   bath           13247 non-null  float64
 3   balcony        12711 non-null  float64
 4   price          13320 non-null  float64
 5   site_location  13319 non-null  object
dtypes: float64(3), object(3)
memory usage: 624.5+ KB

In [8]:
house['balcony'].value_counts()

balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64

In [9]:
house.dropna(inplace=True)

In [10]:
house.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12710 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   size           12710 non-null  object
 1   total_sqft     12710 non-null  object
 2   bath           12710 non-null  float64
 3   balcony        12710 non-null  float64
 4   price          12710 non-null  float64
 5   site_location  12710 non-null  object
dtypes: float64(3), object(3)
memory usage: 695.1+ KB

In [11]:
house['bhk'] = house['size'].str.split().str.get(0).astype(int)

In [12]:
house.head()

        size total_sqft  bath  balcony   price    site_location  bhk
0      2 BHK       1056   2.0      1.0   39.07      Alandi Road    2
1  4 Bedroom       2600   5.0      3.0  120.00  Ambegaon Budruk    4
2      3 BHK       1440   2.0      3.0   62.00       Anandnagar    3
3      3 BHK       1521   3.0      1.0   95.00            Aundh    3
4      2 BHK       1200   2.0      1.0   51.00       Aundh Road    2

In [13]:
house.drop(columns='size', inplace=True)

In [14]:

house[house.bhk>20]

     total_sqft  bath  balcony  price  site_location  bhk
1718       8000  27.0      0.0  230.0  Uruli Devachi   27
4684       2400  40.0      0.0  660.0  Salunke Vihar   43

In [15]:
house.head()

  total_sqft  bath  balcony   price    site_location  bhk
0       1056   2.0      1.0   39.07      Alandi Road    2
1       2600   5.0      3.0  120.00  Ambegaon Budruk    4
2       1440   2.0      3.0   62.00       Anandnagar    3
3       1521   3.0      1.0   95.00            Aundh    3
4       1200   2.0      1.0   51.00       Aundh Road    2

In [16]:
house.tail()

      total_sqft  bath  balcony  price         site_location  bhk
13314       1715   3.0      3.0  112.0       Parvati Darshan    3
13315       3453   4.0      0.0  231.0                Pashan    5
13317       1141   2.0      1.0   60.0              Pirangut    2
13318       4689   4.0      1.0  488.0          Prabhat Road    4
13319        550   1.0      1.0   17.0  Pune Railway Station    1

In [17]:
house.reset_index(inplace=True)

In [18]:
house.tail()

       index total_sqft  bath  balcony  price         site_location  bhk
12705  13314       1715   3.0      3.0  112.0       Parvati Darshan    3
12706  13315       3453   4.0      0.0  231.0                Pashan    5
12707  13317       1141   2.0      1.0   60.0              Pirangut    2
12708  13318       4689   4.0      1.0  488.0          Prabhat Road    4
12709  13319        550   1.0      1.0   17.0  Pune Railway Station    1

In [19]:
house.drop(columns='index', inplace=True)

In [20]:
house = house[house.bhk<=20]

In [21]:
house[house.bhk>20]

Empty DataFrame
Columns: [total_sqft, bath, balcony, price, site_location, bhk]
Index: []

In [22]:
house.reset_index(inplace=True)

In [23]:
house.drop(columns='index')

      total_sqft  bath  balcony   price         site_location  bhk
0           1056   2.0      1.0   39.07           Alandi Road    2
1           2600   5.0      3.0  120.00       Ambegaon Budruk    4
2           1440   2.0      3.0   62.00            Anandnagar    3
3           1521   3.0      1.0   95.00                 Aundh    3
4           1200   2.0      1.0   51.00            Aundh Road    2
...          ...   ...      ...     ...                   ...  ...
12703       1715   3.0      3.0  112.00       Parvati Darshan    3
12704       3453   4.0      0.0  231.00                Pashan    5
12705       1141   2.0      1.0   60.00              Pirangut    2
12706       4689   4.0      1.0  488.00          Prabhat Road    4
12707        550   1.0      1.0   17.00  Pune Railway Station    1

[12708 rows x 6 columns]

In [24]:
house['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [25]:
house['total_sqft'].isna().sum()

np.int64(0)

In [26]:
def convertRange(x):
    temp = x.split("-")
    if len(temp)==2:
        return (float(temp[0]) + float(temp[1])) / 2
    try:
        return float(x)
    except:
        return None

In [27]:
house['total_sqft'] = house['total_sqft'].apply(convertRange)

In [28]:
house['total_sqft'].unique()

array([1056. , 2600. , 1440. , ..., 1258.5,  774. , 4689. ])

In [29]:
house['total_sqft'].isna().sum()

np.int64(42)

In [30]:
house.dropna(inplace=True)

In [31]:
house.reset_index(inplace=True)

In [32]:
house.drop(columns='index', inplace=True)

In [33]:
house.isnull().sum()

level_0          0
total_sqft       0
bath             0
balcony          0
price            0
site_location    0
bhk              0
dtype: int64

In [34]:
house.head()

   level_0  total_sqft  bath  balcony   price    site_location  bhk
0        0      1056.0   2.0      1.0   39.07      Alandi Road    2
1        1      2600.0   5.0      3.0  120.00  Ambegaon Budruk    4
2        2      1440.0   2.0      3.0   62.00       Anandnagar    3
3        3      1521.0   3.0      1.0   95.00            Aundh    3
4        4      1200.0   2.0      1.0   51.00       Aundh Road    2

In [35]:
house['price_per_sq_ft'] = house['price']*100000 / house['total_sqft']
house['price_per_sq_ft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
12661     6530.612245
12662     6689.834926
12663     5258.545136
12664    10407.336319
12665     3090.909091
Name: price_per_sq_ft, Length: 12666, dtype: float64

In [36]:
house = house[((house['total_sqft'] / house['bhk']) >= 300)]
house.describe()

,level_0,total_sqft,bath,balcony,price,bhk,price_per_sq_ft
count,12013.000000,12013.000000,12013.000000,12013.000000,12013.000000,12013.000000,12013.000000
mean,6355.003996,1542.372588,2.511862,1.587780,105.007894,2.607342,6206.213093
std,3671.108293,1181.080695,1.006206,0.808746,134.204258,0.922976,3985.465773
min,0.000000,300.000000,1.000000,0.000000,9.000000,1.000000,267.829813
25%,3181.000000,1107.000000,2.000000,1.000000,48.450000,2.000000,4199.565960
50%,6362.000000,1285.000000,2.000000,2.000000,68.000000,2.000000,5253.456221
75%,9538.000000,1660.000000,3.000000,2.000000,110.000000,3.000000,6823.529412
max,12707.000000,52272.000000,13.000000,3.000000,2912.000000,13.000000,176470.588235

In [37]:
house.shape

(12013, 8)

In [38]:
def remove_outlier_sqft(df):
    df_output = pd.DataFrame()
    for key, subdf in df.groupby('site_location'):
        m = np.mean(subdf.price_per_sq_ft)
        st = np.std(subdf.price_per_sq_ft)
        gen_df = subdf[(subdf.price_per_sq_ft > (m-st)) & (subdf.price_per_sq_ft <= (m+st))]
        df_output = pd.concat([df_output, gen_df], ignore_index=True)
    return df_output

house = remove_outlier_sqft(house)
house.describe()

,level_0,total_sqft,bath,balcony,price,bhk,price_per_sq_ft
count,10461.000000,10461.000000,10461.000000,10461.000000,10461.000000,10461.000000,10461.000000
mean,6330.446516,1450.477342,2.423095,1.594494,80.710099,2.529968,5341.303057
std,3679.475745,748.579590,0.900466,0.796253,58.718224,0.842005,1554.869125
min,0.000000,300.000000,1.000000,0.000000,10.000000,1.000000,2000.000000
25%,3145.000000,1100.000000,2.000000,1.000000,48.000000,2.000000,4181.184669
50%,6305.000000,1261.000000,2.000000,2.000000,65.000000,2.000000,5084.745763
75%,9531.000000,1600.000000,3.000000,2.000000,93.865000,3.000000,6278.260870
max,12705.000000,30400.000000,13.000000,3.000000,1824.000000,13.000000,17548.524329

In [45]:
print(house.groupby("site_location")["bhk"].count())

site_location
Alandi Road        94
Ambegaon Budruk    92
Anandnagar         43
Aundh              88
Aundh Road         34
                   ..
Wagholi            97
Wakadewadi         42
Wanowrie           78
Warje              71
Yerawada           53
Name: bhk, Length: 96, dtype: int64

In [48]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('site_location'):
        #print("Location=",location,location_df)
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean':np.mean(bhk_df.price_per_sq_ft),
                'std':np.std(bhk_df.price_per_sq_ft),
                'count':bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            #print(stats)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sq_ft<(stats['mean'])].index.values)
    return df.drop(exclude_indices, axis='index')

In [49]:
house = bhk_outlier_remover(house)

In [50]:
house.shape

(6664, 8)

In [51]:
house.describe()

,level_0,total_sqft,bath,balcony,price,bhk,price_per_sq_ft
count,6664.000000,6664.000000,6664.000000,6664.00000,6664.000000,6664.000000,6664.000000
mean,6324.346038,1411.550143,2.354142,1.52476,86.749827,2.386855,5834.486130
std,3666.768342,782.049657,0.952593,0.78481,65.275708,0.904297,1627.296202
min,0.000000,300.000000,1.000000,0.00000,10.000000,1.000000,2000.000000
25%,3160.500000,1065.000000,2.000000,1.00000,49.000000,2.000000,4658.243473
50%,6302.000000,1216.000000,2.000000,1.00000,70.000000,2.000000,5690.983001
75%,9486.250000,1575.000000,3.000000,2.00000,104.000000,3.000000,6884.813728
max,12705.000000,30400.000000,13.000000,3.00000,1824.000000,13.000000,17548.524329

In [52]:
house.drop(columns='price_per_sq_ft', inplace=True)

In [53]:
house.head()

   level_0  total_sqft  bath  balcony   price site_location  bhk
0        0      1056.0   2.0      1.0   39.07   Alandi Road    2
1       88      2894.0   4.0      1.0  245.00   Alandi Road    4
2      273      1084.0   2.0      2.0   50.00   Alandi Road    2
3      550      1230.0   2.0      2.0   80.00   Alandi Road    2
4      732      1750.0   3.0      2.0  130.00   Alandi Road    3

In [54]:
house['site_location'].unique()

array(['Alandi Road', 'Ambegaon Budruk', 'Anandnagar', 'Aundh',
       'Aundh Road', 'Balaji Nagar', 'Baner', 'Baner road',
       'Bhandarkar Road', 'Bhavani Peth', 'Bibvewadi', 'Bopodi',
       'Budhwar Peth', 'Bund Garden Road', 'Camp', 'Chandan Nagar',
       'Dapodi', 'Deccan Gymkhana', 'Dehu Road', 'Dhankawadi',
       'Dhayari Phata', 'Dhole Patil Road', 'Erandwane', 'Fatima Nagar',
       'Fergusson College Road', 'Ganesh Peth', 'Ganeshkhind',
       'Ghorpade Peth', 'Ghorpadi', 'Gokhale Nagar', 'Gultekdi',
       'Guruwar peth', 'Hadapsar', 'Hadapsar Industrial Estate',
       'Hingne Khurd', 'Jangali Maharaj Road', 'Kalyani Nagar',
       'Karve Nagar', 'Karve Road', 'Kasba Peth', 'Katraj', 'Khadaki',
       'Khadki', 'Kharadi', 'Kondhwa', 'Kondhwa Budruk', 'Kondhwa Khurd',
       'Koregaon Park', 'Kothrud', 'Law College Road', 'Laxmi Road',
       'Lulla Nagar', 'Mahatma Gandhi Road', 'Mangalwar peth',
       'Manik Bagh', 'Market yard', 'Model colony', 'Mukund Nagar',
       'Mundhawa', 'Nagar Road', 'Nana Peth', 'Narayan Peth',
       'Narayangaon', 'Navi Peth', 'Padmavati', 'Parvati Darshan',
       'Pashan', 'Paud Road', 'Pirangut', 'Prabhat Road',
       'Pune Railway Station', 'Rasta Peth', 'Raviwar Peth',
       'Sadashiv Peth', 'Sahakar Nagar', 'Salunke Vihar', 'Sasson Road',
       'Satara Road', 'Senapati Bapat Road', 'Shaniwar Peth',
       'Shivaji Nagar', 'Shukrawar Peth', 'Sinhagad Road', 'Somwar Peth',
       'Swargate', 'Tilak Road', 'Uruli Devachi', 'Vadgaon Budruk',
       'Viman Nagar', 'Vishrant Wadi', 'Wadgaon Sheri', 'Wagholi',
       'Wakadewadi', 'Wanowrie', 'Warje', 'Yerawada'], dtype=object)

In [55]:
house.drop(columns="level_0",inplace=True)

In [56]:
house.head()

   total_sqft  bath  balcony   price site_location  bhk
0      1056.0   2.0      1.0   39.07   Alandi Road    2
1      2894.0   4.0      1.0  245.00   Alandi Road    4
2      1084.0   2.0      2.0   50.00   Alandi Road    2
3      1230.0   2.0      2.0   80.00   Alandi Road    2
4      1750.0   3.0      2.0  130.00   Alandi Road    3

In [57]:
house.to_csv('cleaned_data.csv')

In [58]:
x = house.drop(columns='price')
y = house['price']

In [59]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [60]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [61]:
print(x_train.shape)
print(x_test.shape)

(5331, 5)
(1333, 5)

Applying Linear Regression

In [63]:
column_trans = make_column_transformer((OneHotEncoder(sparse_output=False), ['site_location']), remainder='passthrough')

In [64]:
print(column_trans)

ColumnTransformer(remainder='passthrough',
                  transformers=[('onehotencoder',
                                 OneHotEncoder(sparse_output=False),
                                 ['site_location'])])

In [65]:
scaler = StandardScaler()
lr = LinearRegression()

In [66]:
pipe = make_pipeline(column_trans, scaler, lr)

In [67]:
pipe.fit(x_train, y_train)

c:\Users\asus\anaconda3\Lib\site-packages\sklearn\compose\_column_transformer.py:1667: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['site_location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [68]:
y_pred_lr = pipe.predict(x_test)

In [69]:
r2_score(y_test, y_pred_lr)

0.8405184063558485

In [70]:
x_train

      total_sqft  bath  balcony    site_location  bhk
5885      1100.0   2.0      3.0       Manik Bagh    2
508        900.0   2.0      1.0       Aundh Road    2
908       1116.0   2.0      2.0  Bhandarkar Road    2
5601      1050.0   2.0      1.0      Lulla Nagar    2
5912      1325.0   2.0      2.0       Manik Bagh    2
...          ...   ...      ...              ...  ...
1360      2400.0   4.0      1.0     Budhwar Peth    5
8154      1800.0   4.0      3.0    Salunke Vihar    5
6233      1826.0   3.0      2.0     Mukund Nagar    3
340       1200.0   4.0      3.0            Aundh    4
8109      1314.0   2.0      2.0    Sahakar Nagar    2

[5331 rows x 5 columns]

In [71]:
data = [2345, 2, 2, 'Wagholi', 2]
data = pd.Series(data)

type(data)
data = data.values.reshape(1,5)

In [72]:
df = pd.DataFrame(data, columns=['total_sqft', 'bath', 'balcony', 'site_location', 'bhk'])
df

  total_sqft bath balcony site_location bhk
0       2345    2       2       Wagholi   2

In [73]:
prediction = pipe.predict(df)
print("Price for your house should be: ", prediction[0]*100000)

Price for your house should be:  14511558.749751829

In [75]:
import pickle

pickle.dump(pipe, open('LinearModel.pkl', 'wb'))